body {
  padding: 0;
  margin: 0;
}

div {
  width: 100%;
  border: 1px solid black;
}
img {
  border: 3px solid black;
  margin-left: 220px;
  margin-bottom: 220px;

  /* padding: 100px; */
  /* padding-left: 100px;

  padding: 100px 50px; */

  padding: 100px 50px 10px 0px;
}
