* {
  margin:0;
  padding:0;
}

body, html {
  height:100%;
  font-family: Montserrat;
}

.banner {
  background: url("../images/banner.jpg");
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width:80%;
  margin:auto;
}

header {
  width:100%;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,0.8) 0%, rgba(252,70,107,1) 100%);
  padding:15px;
  border-bottom:2px solid dodgerblue;
  border-radius:10px;
  box-shadow:2px 2px 5px #333;
}

#site-name {
  display:inline-block;
  margin-top:5px;
  font-size:1.6em;
  font-weight:bolder;
  color:white;
}

nav {
  display:inline-block;
  float:right;
}

nav li {
  display:inline-block;
  list-style-type: none;
  padding:0px 6px;
  margin-top: 11px;
}

nav a {
  color:white;
  padding:10px;
  border-radius:7px;
  box-shadow:2px 2px 5px #333;
}

nav a:hover {
  box-shadow:none;
  border:1px solid #CCC;
}

.active {
  border:1px solid #CCC;
  box-shadow: none;
}

.side-hover {
  width:40%;
  position:relative;
  top:20%;
  left:10%;
  color:white;
  font-size:30px;
  padding:20px;
  background:radial-gradient(circle, rgba(63,94,251,0.4) 0%, rgba(252,70,107,0.4) 100%);
  border-radius:20px;
  border-left:2px solid pink;
  border-bottom:2px solid pink;
}

.drag {
  background: url("../images/drag.jpg") no-repeat;
  height:100%;
  background-position: center;
  background-size: cover;
  
}
